# This is Git's per-user configuration file.
[user]
	name = Roberto A.
	email = roby.alessi@virgilio.it
	username = robymontyz
	signingkey = 3847DD958ACE6B70
[core]
	editor = vim
	excludesfile = ~/.config/git/ignore
[commit]
	gpgSign = true
[alias]
	a = add
	aa = add --all				# add all the file to stage
	ai = add -i					# interactive mode for add
	#############
	b = branch
	#############
	commit = commit -m			# on default, commit with message
	c = commit -m				# commit with message
	ca = commit -a				# add all file to stage and commit
	cwm = commit				# commit without message
	cam = commit -am			# commit all files with message
	cd = commit --amend			# modify last commit
	#############
	cl = clone
	clg = !sh -c 'git clone git://github.com/$1 $(basename $1)' -
	#############
	d = diff
	dc = diff --cached
	#############
	m = merge
	#############
	o = checkout
	ob = checkout -b
	#############
	ps = push
	pso = push origin
	psuom = push -u origin master
	#############
	pl = pull
	plo = pull origin
	plom = pull origin master
	#############
	rb = rebase
	#############
	re = reset
	rh = reset HEAD
	#############
	r = remote
	ra = remote add
	rn = remote rename
	rs = remote show
	rao = remote add origin
	rro = remote remove origin
	#############
	s = status
	#############
	st = stash					# save changes to a stash
	sa = stash apply			# apply all the changes in the stash
	sc = stash clear			# delete all the changes from stash
	sd = stash drop				# delete a single change
	sl = stash list				# list all the stash entries
	sw = stash show				# show all the changes in the stash
	#############
	aliases = !git config -l | grep alias | cut -c 7-
	snap = !git stash save 'snapshot: $(date)' && git stash apply 'stash@{0}'
	behind = !git rev-list --left-only --count $(git bu)...HEAD
	ahead = !git rev-list --right-only --count $(git bu)...HEAD
